extends ../../../pug/layout
block title
	title BANNER BASE
block metaSize
	meta(name="ad.size", content='width=300,height=250')

block content
	#wrapper.centered-layout
		a#main-panel(href="javascript:window.open(window.clickTag); void(0)")
				img.animation-placeholder.absolute-position(src="images/placeholder.png" style="top:40px;left:20px;")
				include ../../../pug/isi/isi.pug
				a(href="#").pi Full Prescribing Information and Medication Guide